body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eadcf0;
    color: #3d0a5e;
}


html {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}


footer {
    background-color: #d9c5e6;
    text-align: center;
    padding: 10px;
    margin: 0;
}