body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eadcf0;
    color: #3d0a5e;
}


.encabezado {
    background-color: #d9c5e6;
    text-align: center;
    padding: 15px;
}

.boton {
    background-color: #a85be3;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
}


main {
    text-align: center;
    padding: 30px;
}

h2 {
    color: #4b007d;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
}


.tarjeta {
    background-color: white;
    padding: 20px;
    width: 250px;
}

.tarjeta h3 {
    color: #7a3db8;
}

.tarjeta a {
    text-decoration: none;
    color: #6d2da8;
}

.tarjeta a:hover {
    text-decoration: underline;
}


footer {
    background-color: #d9c5e6;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

