.colorfondo { 
    background: linear-gradient(135deg, #d9c5e6, #d6cfdd);
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

/* Navbar extra (opcional) */
.nav {
    text-align: right;
    padding: 10px;
}

/* Título */
.seccion {
    background-color: #eadcf0;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}
.color{
  background-color:#eadcf0;  
}

/* CONTENEDOR PRINCIPAL */
.creadores {
    background-color: #eadcf0;
    min-height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, 180px);
    justify-content: center;  /* centra horizontal */
    align-content: center;    /* centra vertical */
    gap: 25px;
}

/* TARJETAS */
.card {
    background-color: #fff;
    height: 150px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* Hover bonito */
.card:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}

footer {
    background-color: #d9c5e6;
    text-align: center;
    padding: 10px;
    margin: 0;
    color: #3d0a5e;
    font-size: 14px;
}

/* Móvil */
@media (max-width: 600px) {
    .creadores {
        grid-template-columns: 1fr;
    }
}