* {
    margin: 1;
    padding:0;
    box-sizing: border-box;
}
/*fondo*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#e6d6f5,#e6d6f0);
    height: 100vh;
}
 
header{
    background-color: #c8a2e8;
    padding: 15px;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}


/*titulo */
h1{
    flex: 1;
    text-align: center;
    color: #53107c;}

/*links*/
nav a {
    text-decoration: none;
    color:#4b2c5e;
    background-color: #e6d6f5;
    padding: 3px 4px;
    border-radius: 8px;
}

/*formulario*/
form{
    width:300px;
    margin: 60px auto;
    background-color: #ffffffde;
    padding:30px;
    border-radius: 15px;
    box-shadow: 0px 2px 5px  rgba(0,0,0,0.1);
}
/* titulo de formulario*/
form h2{
    margin-bottom: 20px;
    color: #6a3fa0;
}

/*botón*/
button{
    width: 70px;
    padding:10px;

    color: rgba(255, 255, 255, 0.32);
    
    border-radius: 8px;
    cursor:pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #9c6fd6;
}



