body {
    margin: 0;
    background-color: #eadcf0;
    color: #3d0a5e;
    font-family: Arial, sans-serif;
}


.custom-navbar {
    background-color: #eadcf0;
}

.brand-title {
    color:#a85be3;
    font-weight: bold;
}

.brand-subtitle {
    color: #7b5b8d;
}

.nav-link {
    color: #2f1a3b ;
}

.nav-link:hover {
    color: #8f4fd8;
    text-decoration: underline;
}

.login-btn {
    background-color: #a85be3;
    color: white;
    border-radius: 20px;
    padding: 8px 15px;
}

.contactanos{
    text-align: right;
}
.sobrenostros{
    text-align: right;


}
.hero-section {
    padding: 60px 20px;
}

.hero-title {
    font-size: 3rem;
    color: #4b007d;
}

.hero-text {
    max-width: 500px;
    color: #7b5b8d;
}

.hero-btn {
    background-color: #a85be3;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
}


.info-section {
    margin-top: 40px;
}

.info-card {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.info-card h3 {
    color: #7a3db8;
}


.footer-section {
    background-color: #d9c5e6;
    padding: 20px;
    margin-top: 40px;
}

.footer-link {
    margin: 10px;
    color: #6d2da8;

    font-weight: 600;
}

.footer-link:hover {
    text-decoration: underline;
}

/* ====== RESPONSIVE ====== */
@media (max-width: 992px) {
    .hero-title {
        font-size: 3.8rem;
    }

    .hero-text {
        font-size: 1.1rem;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 3rem;
    }

    .hero-text {
        font-size: 1rem;
    }

    .brand-title {
        font-size: 1.3rem;
    }

    .logo {
        width: 55px;
        height: 55px;
    }
    
}