body{
    background-color: rgb(16, 57, 113);
}
header{
    background-color: antiquewhite;
}
nav{
    background-color: antiquewhite;
}
.titulo{
    text-align: center;
}
.navbar{
    text-align: left;
    display: flex;
}
.iniciarsesion{
    text-align: right;
}
.agendarcitas{
    height: auto; width: 500mpx;
    text-align: center;
     background-color: antiquewhite;
}
footer{
    background-color: antiquewhite;
}
.contactanos{
    text-align: right;
}
.sobrenostros{
    text-align: right;
}