body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eadcf0;
    color: #3d0a5e;
}


.custom-navbar {
    background-color: #eadcf0;
}

.logo {
    width: 60px;
    height: 60px;
}

.brand-title {
    color: #7a3db8;
    font-weight: bold;
}


.login-btn {
    background-color: #a85be3;
    color: white;
    border-radius: 20px;
    padding: 8px 18px;
}

.login-btn:hover {
    color: white;
}


.login-section {
    min-height: 80vh;
}


.login-card {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}


.login-title {
    color: #4b007d;
    font-size: 2.2rem;
}

.login-subtitle {
    color: #7b5b8d;
}


.submit-btn {
    background-color: #a85be3;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.submit-btn:hover {
    color: white;
}


.docente-link {
    color: #6d2da8;
    text-decoration: none;
    font-weight: bold;
}

.docente-link:hover {
    text-decoration: underline;
}