body {
    background-color: #e9f7ef;
font-family: Arial, sans-serif;}

.custom-navbar {
    background-color: #cfa0f3 !important; 
    padding: 10px 50px;
}

.bved{
    color: #7a3db8;
    font-weight: bold;
}

.nav-link {
    color: #3d0a5e !important;
    font-weight: 500;
    margin: 0 10px;
}

.login-btn-custom:hover {
    background-color: #5e35b1;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.custom-card {
    border-radius: 15px;
    transition: transform 0.2s;
    background-color: #ffffff;
}

.custom-card:hover {
    transform: translateY(-5px);
}

.footer {
    width: 100%;
    background-color: #d9c5e6;
    text-align: center;
    padding: 10px 0;
    color: #3d0a5e;
    font-size: 0%;
}

