body {
    background-color: #e9f7ef;
}

h2 {
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #3d0a5e;
}

.panel {
    font-size: 150%;
background-color: #cfa0f3;
    font-weight: bold;
padding-left: 30px;
}