body{
    background:#eadcf0; 
}
.brand-title {
    color: #7a3db8;
    font-weight: bold;
    text-align: center;
}
.login-subtitle {
    color: #7b5b8d;
    text-align: center;
}
.ns{
    color: #7a3db8;
    font-weight: bold;
    text-align: center;
}
.informacion_caja{
    font-weight: bold;
    text-align: center;
}
.card {
    border: none;
    border-radius: 15px;
    background-color: #fffbea;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px;
    height: 100%;
}