body {
    margin: 0;
    background-color: #eadcf0;
    color: #3d0a5e;
    font-family: Arial, sans-serif;
}


.custom-navbar {
    background-color: #eadcf0;
}

.brand-title {
    color: #7a3db8;
    font-weight: bold;
}

.brand-subtitle {
    color: #7b5b8d;
}

.nav-link {
    color: #2f1a3b !important;
}

.nav-link:hover {
    color: #8f4fd8 !important;
    text-decoration: underline;
}

.login-btn {
    background-color: #a85be3;
    color: white;
    border-radius: 20px;
    padding: 8px 15px;
}


.hero-section {
    padding: 60px 20px;
}

.hero-title {
    font-size: 3rem;
    color: #4b007d;
}

.hero-text {
    max-width: 500px;
    color: #7b5b8d;
}

.hero-btn {
    background-color: #a85be3;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
}


.info-section {
    margin-top: 40px;
}

.info-card {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.info-card h3 {
    color: #7a3db8;
}


.footer-section {
    background-color: #d9c5e6;
    padding: 20px;
    margin-top: 40px;
}

.footer-link {
    margin: 10px;
    color: #6d2da8;
    text-decoration: none;
}