body {
    background-color:white;
    font-family: Arial, sans-serif;
}

.custom-navbar {
    background-color: #cfa0f3 !important;
    padding: 10px 50px;
}

.nav-link {
    color: #3d0a5e !important;
    font-weight: 500;
    margin: 0 10px;
}

.login-btn-custom:hover {
    background-color: #5e35b1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.ns{
    color: #7a3db8;
    font-weight: bold;
    text-align: center;

}
table.table-custom {
    background-color: #f8f2fd !important;
    border-radius: 12px !important;
    overflow: hidden !important;
    box-shadow: 0 6px 15px rgba(122, 61, 184, 0.25) !important;
}

/* ENCABEZADO */
table.table-custom thead tr th {
    background-color: #cfa0f3 !important;
    color: #3d0a5e !important;
    font-weight: bold !important;
    text-align: center !important;
    border: none !important;
}

/* FILAS */
table.table-custom tbody tr {
    background-color: #ffffff !important;
}

/* FILAS INTERCALADAS */
table.table-custom tbody tr:nth-child(even) td {
    background-color: #f3e8fd !important;
}

/* HOVER */
table.table-custom tbody tr:hover td {
    background-color: #e6d4fa !important;
}

/* CELDAS */
table.table-custom td {
    color: #3d0a5e !important;
    text-align: center !important;
    vertical-align: middle !important;
    border-color: #e0c9f7 !important;
}