body {
    background-color:white;
    font-family: Arial, sans-serif;
}

.custom-navbar {
    background-color: #cfa0f3 !important;
    padding: 10px 50px;
}

.nav-link {
    color: #3d0a5e !important;
    font-weight: 500;
    margin: 0 10px;
}

.login-btn-custom:hover {
    background-color: #5e35b1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.ns{
    color: #7a3db8;
    font-weight: bold;
    text-align: center;

}
/* TABLA CON COLOR */
.table-custom {
    background-color: #f8f2fd !important;
    border-radius: 10px;
    overflow: hidden;
}

.table-custom thead {
    background-color: #a85be3 !important;
    color: white !important;
}

.table-custom tbody tr {
    background-color: #f3e8fd !important;
}

.table-custom tbody tr:hover {
    background-color: #e0c9f7 !important;
}